@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.info-conatiner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
    margin-bottom: 30px;
}
.info-data-conatiner{
    width: 50%;
    text-align: start;
    align-items: center;
    display: flex;
}
.info-conatiner h1{
    font-size: 50px;
}
.info-conatiner h1 span{
    color: rgb(255, 170, 0);
}
.img-container .info-data-conatiner div h3{
    font-size: 30px;
    font-style: normal;
}
.img-container img{
    height: 350px;
    width: 350px;
}


@media (max-width : 800px) {
    .img-container img{
        height: 300px;
        width: 300px;
    }
}

@media (max-width : 700px) {
    .img-container{
        display: none;
    }

    .info-data-conatiner{
        width: 100%;
        margin: 0px 40px 0px 40px;
    }
    .info-conatiner h1{
        font-size: 40px;
    }
    .img-container h3{
        font-size: 27px;
    }
}

@media (max-width : 600px) {
    .info-conatiner h1{
        font-size: 35px;
    }
    .img-container h3{
        font-size: 24px;
    }
}

@media (max-width : 500px) {
    .info-conatiner h1{
        font-size: 30px;
    }
    .img-container h3{
        font-size: 20px;
    }
}

@media (max-width : 420px) {
    .info-data-conatiner{
    }
    .info-conatiner h1{
        font-size: 28px;
        
        text-align: center;
    }
    .img-container h3{
        font-size: 18px;
        text-align: start;
    }
}